<div class="center-edit-div">
    <div class="center-div-top">
        <p>Page 1</p>
    </div>
    <div class="center-div-mid" pDroppable (onDrop)="drop()">
        <app-edit-page-content-option *ngFor="let question of questionCardList" [question]="question" (selectedCard)="highlightCard($event)" [ngClass]="{ 'highlight-card' : question.questionCardStructure.selected }"></app-edit-page-content-option>
    </div>
    <div class="center-div-bottom">
        <div >
            <button id="save-button">Save</button>
            <button id="save-and-assing-button">Save & Assing</button>
            <div id="add-page-button-div">
                <img src="../assets/plus-icon/plus-icon.png" alt="plus-icon">
                <p>Add Page</p>
            </div>
        </div>
        <div id="next-button-div">
            Next
        </div>
    </div>
</div>