<div class="navbar">
    <div id="navbar-home-button-div">
        <a href="">
            <img src="../assets/home-icon/home-icon-1.png" alt="home-icon">
            <p>Home</p>
        </a>
    </div>
    <div id="navbar-form-div">
        <div>
            <div>
                <div class="navbar-form-button-container">
                    <button id="navbar-button-form"></button>
                    <div id="horizontal-line"></div>
                </div>
                <div class="navbar-form-text">Form &nbsp;</div>
            </div>
            <div>
                <div class="navbar-form-button-container">
                    <div id="horizontal-line"></div>
                    <button id="navbar-button-process"></button>
                    <div id="horizontal-line"></div>
                </div>
                <div class="navbar-form-text">Process</div>
            </div>
            <div>
                <div class="navbar-form-button-container">
                    <div id="horizontal-line"></div>
                    <button id="navbar-button-public"></button>
                    <div style="width: 68px; height: 0px;"></div>
                </div>
                <div class="navbar-form-text">Public</div>
            </div>
        </div>
    </div>
    <div id="navbar-user-div">
        <div id="bell-icon-div">
            <img src="../assets/bell-icon/bell-icon.png" alt="bell-icon">
        </div>
        <div id="nav-user-profile-div">
            <img src="../assets/user-image/user-image.png" alt="user-image">
            <div>
                <p id="user-name">nyaz khan</p>
                <p id="user-role">Admin</p>
            </div>
        </div>
    </div>
</div>