<div class="root">
    <div class="container">
        <div id="card-image-div">
            <p>Welcome to NoCodeBPM, create your Workflow here!</p>
        </div>
        <div id="card-login-div">
            <img id="wave-image-top" src="/assets/login-page/card-wave-top.png" alt="card-wave-top">
            <div>
                <img src="/assets/login-page/user-logo.png" alt="user-logo">
                <p>Please sign in below</p>
                <div>
                    <input type="text" placeholder="email">
                    <input type="password" placeholder="password">
                    <button>SIGN IN </button>
                </div>
            </div>
            <img id="wave-image-bottom" src="/assets/login-page/card-wave-bottom.png" alt="card-wave-bottom"> 
        </div>
    </div>
</div>